<div class="image-container set-full-height">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="wizard-container">
          <div class="card wizard-card" data-color="blue" id="wizard">
            <form>
              <div class="wizard-header">
                <img src="assets/img/header-logo.png"/>
                <h5 style="color: red;font-weight: bold">Hata oluştu</h5>
              </div>
              <div class="tab-content">

                <div style="text-align: center;color: red;font-weight: bold; font-size: large">
                  <p><span style="font-size: 2.4em; padding-bottom: 30px" class="glyphicon glyphicon-remove" ></span></p>
                  <span>Siteye erişiminiz engellenmiştir! Sadece kayıtlı üyelerimiz siteye ulaşabilirler.</span>
                </div>
                <div class="tab-pane">
                  <h4 class="info-text">Error</h4>
                  <p class="info-text">Error</p>
                  <div class="row">
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="container text-center">
    </div>
  </div>
</div>
