<div class="image-container set-full-height">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="wizard-container">
          <div class="card wizard-card" data-color="blue" id="wizard">
            <form>
              <div class="wizard-header">
                <img src="assets/img/header-logo.png"/>
                <h5>{{title}}</h5>
              </div>

              <div class="wizard-navigation">
                <ul class="nav st-nav-tabs" id="myTabs">
                  <li><a class="inactiveLink" href="#intro" data-toggle="tab">Değerlendirme hakkında</a></li>
                  <li *ngFor="let t of categories | orderByPipe"><a class="inactiveLink" href="#{{t.id}}" data-toggle="tab">{{t.name}}</a></li>
                  <li><a class="inactiveLink" href="#result" data-toggle="tab">Değerlendirme sonucu</a></li>
                </ul>
              </div>

              <div class="tab-content">
                <app-intro></app-intro>

                <div *ngFor="let c of categories | orderByPipe " class="tab-pane" id="{{c.id}}">
                  <h4 class="info-text">{{c.name}}</h4>
                  <p class="info-text">{{c.hint}}</p>
                  <div class="row">
                    <div class="col-sm-12" *ngFor="let q of c.questions | orderByPipe">
                      <div [hidden]="!q.visible" class="form-group label-floating">
                        <div *ngIf="q.hint" class="help-tip">
                          <p>{{q.hint}}</p>
                        </div>
                        <label for="{{q.id}}" class="control-label">
                          {{q.name}}
                        </label>
                        <select id="{{q.id}}" name="{{q.name}}" (change)="onChange($event.target.value, q.id)" style="font-weight: bold"
                                class="form-control" required>
                          <option disabled="" selected=""></option>
                          <option style="font-weight: bold" *ngFor="let o of q.options | orderByPipe" [id]="o.id" [attr.data-row]="o.factor"
                                   [ngValue]="o.value">
                            {{o.name}}
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>

                <app-result></app-result>

              </div>

              <div class="wizard-footer">
                <div class="pull-right">
                  <input type='button' class='btn btn-next btn-fill btn-primary btn-wd' name='next'
                         (click)="nextButton()" value='Ileri'/>
                </div>

                <div class="pull-left">
                  <input type='button' class='btn btn-previous btn-fill btn-default btn-wd' name='previous'
                         (click)="previousButton()" value='Geri'/>
                </div>
                <div class="clearfix"></div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="container text-center">
    </div>
  </div>
</div>
