.btn-finish {
  position: absolute;
  float: right;
  bottom: 25px;
  right: 30px
}

.bg-success {
  color: #2960a8;
  background-color: transparent;
}

.bg-danger {
  color: #df2c2d;
  background-color: transparent;
}

#result-container {
  margin: 0 auto;
  text-align: center;
}

.glyphicon-ok {
  font-size: 50px;
  color: #2960a8;
  top: 15px;
}

.glyphicon-remove {
  font-size: 50px;
  color: #df2c2d;
  top: 15px;
}
