<div class="tab-pane" id="result">
  <div class="row">
    <div class="col-sm-12">
      <div id="result-container" class="input-group">
        <div class="form-group label-floating" style="font-size: larger; font-weight: bold">
          <div *ngIf="result > -1">
            <!--{{ resultText }} {{result}}-->
          </div>
          <span *ngIf="successful && resultReviewRendered()" class="glyphicon glyphicon-ok"></span>
          <span *ngIf="!successful && resultReviewRendered()" class="glyphicon glyphicon-remove"></span>
        </div>
        <div class="form-group label-floating" [ngClass]="evaluateResultTextStyle()"
             style="font-size: larger; font-weight: bold">
          {{resultReview}}

        </div>

        <!-- print negative affecting answer hints -->
        <div *ngIf="resultReviewHints?.length > 0" class="form-group label-floating">
          <p>Güvenlik hatırlatmaları:</p>
          <ul>
            <li *ngFor="let hint of resultReviewHints">
              {{ hint }}
            </li>
          </ul>
        </div>

      </div>
    </div>


    <input type='button' class='btn btn-finish btn-fill btn-primary btn-wd'
           (click)="calculateAll()" name='finish' value='Hesapla'/>
  </div>
</div>
