<div class="image-container set-full-height">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="wizard-container">
          <div class="card wizard-card" data-color="blue" id="wizard">
            <div class="wizard-header">
              <img src="assets/img/header-logo.png"/>
              <h5>{{title}}</h5>
            </div>

            <!-- threshold -->
            <button type="button" class="btn btn-danger collapse-button" data-toggle="collapse" data-target="#threshold">
              Eşik ayarı
            </button>
            <div id="threshold" class="collapse">
              <div class="form-group">
              <label for="success-threshold-number" style="float: left;padding-left: 10px;padding-top: 10px;color: #2960a8; font-weight: bold;">Sınır değeri: </label>

              <input id="success-threshold-number" type="text" step="0.0003"
                     class="form-control col-sm-6 admin-option admin-option-faktor" [(ngModel)]="successThresholdNumber.value" name="{{successThresholdNumber.value}}" placeholder="Başarı faktörü"/>
              </div>
              <input class="form-control col-sm-12 admin-category-sucessful" [(ngModel)]="successThresholdText.value" name="{{successThresholdText.value}}" placeholder="Başarı mesajı"/>
              <input class="form-control col-sm-12 admin-category-unsucessful" [(ngModel)]="failureThresholdText.value" name="{{failureThresholdText.value}}" placeholder="Başarısızlık mesajı"/>
            </div>

            <!-- category -->
            <div *ngFor="let c of categories">
              <button type="button" class="btn btn-info collapse-button" data-toggle="collapse"
                      [attr.data-target]="'#' + c.id">
                {{c.name}}
              </button>
              <!-- category collapse -->
              <div id="{{c.id}}" class="collapse">
                <div class="col-xs-12 panel-footer">
                  <input type="text" class="form-control col-sm-12 admin-category" [(ngModel)]="c.name"
                         name="{{c.name}}" placeholder="kategori"/>
                  <input type="text" class="form-control col-xs-12 admin-category" [(ngModel)]="c.hint"
                         name="{{c.hint}}" placeholder="kategori tanim"/>

                  <div class="clearfix"></div>

                  <!-- question -->
                  <div *ngFor="let q of c.questions">
                    <input type="text" class="form-control col-xs-6 admin-question" [(ngModel)]="q.name"
                           name="{{q.name}}" placeholder="soru"/>
                    <input type="text" class="form-control col-xs-6 admin-question admin-question-hint" [(ngModel)]="q.hint"
                           name="{{q.hint}}" placeholder="ipucu"/>

                    <button type="button" class="btn btn-info admin-collapse-button" data-toggle="collapse"
                            [attr.data-target]="'#' + q.id">
                      <i class="material-icons">expand_more</i>
                    </button>

                    <div class="clearfix"></div>

                    <div id="{{q.id}}" class="collapse question-body">
                    <!-- option -->
                    <div *ngFor="let o of q.options">
                      <input id="option-name" type="text" class="form-control col-sm-6 admin-option admin-option-value"
                             [(ngModel)]="o.name" [(ngModel)]="o.value"
                             name="{{o.name}}" placeholder="şık"/>

                      <input id="option-factor" type="number" step="0.0003"
                             class="form-control col-sm-6 admin-option admin-option-faktor" [(ngModel)]="o.factor"
                             name="{{o.factor}}" placeholder="faktör"/>
                      <input id="option-hint" type="text" class="form-control col-sm-6 admin-option admin-option-hint"
                             [(ngModel)]="o.hint"
                             name="{{o.hint}}" placeholder="ipucu"/>

                      <button class="btn btn-info admin-collapse-button" (click)="addModifier(o.id)"><i class="material-icons">add_box</i> modifikatör ekle</button>
                      <button *ngIf="o.modifiers.length > 0" class="btn btn-info admin-collapse-button" (click)="removeModifier(o.id)"><i class="material-icons">indeterminate_check_box</i> sil</button>


                      <div class="clearfix"></div>

                      <!-- modifier -->
                      <div class="modifiers" *ngFor="let m of o.modifiers">

                        <select id="modifier-hedef" class="form-control" required="required" [(ngModel)]="m.targetQuestion">
                          <option *ngFor="let q of questions">{{q.name}}</option>
                        </select>

                        <div class="clearfix"></div>
                      </div>

                      <div class="clearfix"></div>
                    </div>

                    <div class="clearfix"></div>
                    <button class="btn btn-success admin-question-add-button" (click)="addOption(q.id)">şık ekle</button>
                    <button *ngIf="q.options.length > 0" class="btn btn-danger admin-question-remove-button" (click)="removeOption(q.id)">şık sil</button>
                  </div>
                    <!-- option end -->
                  </div>
                  <button class="btn btn-primary" (click)="addQuestion(c.id)">soru ekle</button>
                  <button *ngIf="c.questions.length > 0" class="btn btn-primary" (click)="removeQuestion(c.id)">soru
                    sil
                  </button>
                  <button class="btn btn-default remove-category" (click)='removeCategory(c.id)'>Kategori sil</button>

                  <!-- question end -->
                </div>
              </div>
              <!-- category collapse end -->
            </div>
            <div class="category-management panel-footer">
              <button class="btn btn-default create" [disabled]="categoryButton" (click)='addCategory()'>Kategori ekle</button>&nbsp;&nbsp;|&nbsp;&nbsp;
              <button class="btn btn-default update" [disabled]="saveButton" (click)='saveCategories()'>Senkronize et</button>
              <button class="btn btn-default reset" [disabled]="resetButton" (click)='resetCategories()'>Sıfırla</button>
            </div>
            <!-- category end -->
            <div class="clearfix"></div>

            <!-- json output -->
            <!--<pre>{{categories | json}}</pre>-->

            <div class="wizard-footer">
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <div class="container text-center">
    </div>
  </div>
</div>
