.admin-category {
  color: #2960a8;
  font-weight: bold;
}

.admin-category-sucessful
{
  color: #17a818 !important;
  font-weight: bold;
}

.admin-category-unsucessful
{
  color: #a80009 !important;
  font-weight: bold;
}

.admin-question {
  color: #df2d2e;
  margin-left: 20px;
  width: 47% !important;
  float: left;
}

.admin-question-hint {
  color: #df2d2e;
  margin-left: 20px;
  width: 40% !important;
  float: left;
}

.admin-question-add-button {

}

.admin-question-remove-button {
  margin-left:10px;
}

.admin-collapse-button{
  margin-top:2px;
  margin-left:10px;
  float:left;
}

.admin-option {
  color: #999999;
  width: 25%;
  float: left;
  border: 1px dashed darksalmon !important;
}

.admin-option-value {
  width: 25% !important;
}

.admin-option-multiplicant {
  margin-left: 20px;
  width: 5% !important;
}

.admin-option-faktor {
  width: 13% !important;
  margin-left: 20px;
  background: white;
}
.admin-option-hint {
  margin-left: 20px;
  width: 20% !important;
}

.admin-modifier{
  border: 1px dashed limegreen !important;
}

.modifiers {
  margin-left: 20px;
}

.question-body{
  /*background-color: linen;*/
  padding-top: 10px;
  margin-left: 40px;
  margin-right: 100px;
}

#option-name {
  /*width: 304px !important;*/
}

#option-value {
  /*width: 158px !important;*/
}

#option-factor {
  /*  width: 218px !important;
    margin-left: 20px;
    background: white;
    border: 1px dashed #c7c7c7;*/
}

#option-hint {
  /*width: 22% !important;*/
}

#modifier-hedef {
  width: 26% !important;
}

#modifier-factor {
  width: 158px !important;
  margin-left: 20px;
  background: white;
  border: 1px dashed #c7c7c7;
}

#modifier-condition {
  width: 20% !important;
  margin-left: 20px;
  background: white;
  border: 1px dashed #c7c7c7;
}

#eleme {
  left: 40px;
  position: relative;
  width: 120px;
  margin-left: 50px;
  background: white;
  border: 1px dashed #c7c7c7;
}

input[type=text] {
  text-transform: none;
  background: white;
  border: 1px dashed #c7c7c7;
}

#discriminator {
  height: 20px;
}

input[type=text]:focus {
  background-color: white;
}

.collapse-button {
  width: 100%;
}

.category-management {
  text-align: center;
}

.btn-default {
  background-color: #2960a8 !important;
}

.btn {
  padding: 7px !important;
}

.panel-footer {
  padding: 10px 15px !important;
  background-color: #f7f7f7 !important;
  margin-bottom: 10px !important;
  border-top: 1px solid #2960a8;
  border-bottom: 1px solid #2960a8;
}

.update {
  background-color: #3ea878 !important;
}

.reset {
  background-color: #df9c1c !important;
}

.remove {
  background-color: #df2d2e !important;
}

.remove-category {
  float: right;
}

input {
  text-indent: 10px;
  color: #2960a8 !important;
}

#intro-text {
  text-indent: 20px;
}
