<div class="tab-pane" id="intro">
  <div class="row">
    <div class="col-sm-12">
      <!-- {{intro.value}}-->
      Bu Talimat, Türk Hava Sahasında işletilecek veya kullanılacak sivil
      İnsansız Hava Aracı (İHA) sistemlerinin ithali, satışı, kayıt ve tescili, uçuşa elverişliliğin
      sağlanması, sistemleri kullanacak kişilerin sahip olması gereken nitelikleri, hava trafik
      hizmetleri ve İHA operasyonlarına ilişkin usul ve esasları belirlemek amacıyla hazırlanmıştır.
    </div>
  </div>
</div>
